body {
    margin: 0;
}
.bGround {
   background-color: black;
   background-image: url("../images/blackscience_color.jpg");
   padding-top: 200px;
   padding-bottom: 600px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}
